//login
.login-form {
  width: 400px;
  margin: 0 auto;
}

//user panel
.user-panel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-panel-list li {
  float: left;
  padding: 0 10px;
  a {
    color: #4c5d77;
    display: block;
    line-height: @navbar-height;
    text-decoration: none;
    &:hover {
      color: @glms-main-color;
    }
  }
}
//header user info drop down
.dropdown-menu {
  min-width: 100px;
  margin: -10px 0 0;
  padding: 0;
  li{
    padding: 0;
    a{
      line-height: 30px;
    }
  }
}
//change button color
.btn-primary{
  background-color: @glms-sidebar-bg;
  border: @glms-sidebar-bg;
}

//user manage page query related css
.form-query{
  display:inline;
  margin: 0 20px;
  select,input{
    width:150px;
  }
}
.query-container{
  margin: 10px 10px;
}