//login
.login-form {
  width: 400px;
  margin: 0 auto;
}

//user panel
.user-panel-list {
  list-style: none;
}
.user-panel-list li {
  float: left;
  margin: 0 10px;
  padding-top: 10px;
  a {
    color: #fff;
    display: block;
    line-height: (@navbar-height - 20px);
    text-decoration: none;
    &:hover {
      color: @glms-main-color;
    }
  }
}
